<body>
<h1>Home!!!</h1>
<p>Welcome Home</p>
<%= image_tag("jeena.jpg") %>
<p>Name:Jeena Kuriakose</p>
<p>Age:24</p>
<p>Place:Kolenchery</p>
<p>Date of Birth:21/06/1991
<p> Qualification:
<%=link_to "Qualification!!!",new_qualification_path%>
</p>
</body>