<h1>Qualification!!!</h1>
<p>Master of Technology in Computer Science and Engineering</p>
<p>Btech in Computer Science and Engineering
</p>
<p>Basic School Education</p>
<p> Home:
<%=link_to "Home!!!",new_home_path%>
</p>

